input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	opacity: .5;
	text-align: inherit !important;
	color: inherit !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: .5;
	text-align: inherit !important;
	color: inherit !important;
}

textarea::-webkit-input-placeholder {
	opacity: .5;
	text-align: inherit !important;
	color: inherit !important;
}

textarea::-moz-placeholder {
	opacity: .5;
	text-align: inherit !important;
	color: inherit !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	opacity: 1;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	opacity: 1;
}

label {
	display: block;
	position: relative;
}

input,
textarea,
button {
	border-radius:0;
}

textarea {
	resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance:none;
}

input[type='number'] {
	-moz-appearance:textfield;
}

:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
	-webkit-box-shadow:0 0 0 1000px #fff inset!important;
}

.ui {
	&-input {
		padding:0;
		position:relative;
		cursor:text;
		border-bottom:$color-text solid 1px;
		transition:border .2s;

		& input,
		& textarea {
			width:100%;
			display:block;
			padding:0;
			color:$color-grey;
			font-size:20px;
			line-height:28px;
			font-weight:400;
			letter-spacing: 1.2px;
			text-align:left;
			box-shadow:none;
			border:none;
			background:transparent;
			position:relative;
			transition:all .2s;
		}

		& input {
			height:28px;
		}

		& textarea {
			height:28px;
		}

		&__placeholder {
			width:100%;
			font-size:20px;
			line-height:28px;
			font-weight:400;
			letter-spacing: 1.2px;
			display:block;
			margin-bottom:20px;
		}

		&--error {
			border-color:$color-red!important;

			& input, 
			& textarea {
				color:$color-red!important;
			}
		}
	}
}