		<footer class="footer">
			<div class="inner">
				<div class="footer-top">
					<div class="footer-top__col footer-top__col--l">
						<a class="footer__logo" href="@@webRoot/">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
						</a>
					</div>
					<div class="footer-top__col footer-top__col--r">
						<div class="ui-text footer-address">
							<p>
								Владимирская обл., д. Погребищи, ул. Производственная, д. 1
							</p>
							<p>
								<a href="tel:+79209100001" target="_blank">
									+7 (920) 910 00 01
								</a><br />
								<a href="mailto:info@m12blok.ru" target="_blank">
									info@m12blok.ru
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="footer-bot">
					<div class="footer-bot__col">
						<a class="footer__link" href="page-afad.html">
							О нас
						</a>
					</div>
					<div class="footer-bot__col">
						<a class="footer__link" href="page-afad.html">
							Услуги
						</a>
					</div>
					<div class="footer-bot__col">
						<a class="footer__link" href="page-afad.html">
							Контакты
						</a>
					</div>
					<div class="footer-bot__col">
						<a class="footer__link" href="page-afad.html">
							Помощь
						</a>
					</div>
					<div class="footer-bot__col footer-bot__col--pol">
						<a class="footer__link footer__link--pol" href="page-afad.html">
							Политика конфиденциальности
						</a>
					</div>
					<div class="footer-bot__col footer-bot__col--copy">
						<div class="footer__copy">
							© М12БЛОК 2018
						</div>
					</div>
				</div>
			</div>
		</footer>