			<section class="section location" id="location">
				<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
				<div class="inner">
					<div class="location__block">
						<div class="location__cont">
							<div class="location__head">
								<header class="head head--inner head--no-m">
									<h2 class="head__title">
										Расположение склада
									</h2>
								</header>
							</div>
							<div class="ui-text location__text">
								<p>
									15 минут до&nbsp;аэропорта Шереметьево<br />
									25&nbsp;минут до&nbsp;МКАД
								</p>
								<p>
									Владимирская&nbsp;обл., Судогодский р-н, МО&nbsp;"Вяткинское (сельское поселение)", д.&nbsp;Погребищи, ул.&nbsp;Производственная, д.&nbsp;1
								</p>
							</div>
						</div>
						<div class="location__map ya-map" id="location__map" data-map-arr='[{"coords": [56.054236, 40.483036], "hint": "М12БЛОК", "text":"Владимирская&nbsp;обл., Судогодский р-н, МО&nbsp;Вяткинское (сельское поселение), д.&nbsp;Погребищи, ул.&nbsp;Производственная, д.&nbsp;1"}]' data-map-marker="@@webRoot/images/map-marker.svg"></div>
					</div>
				</div>
			</section>