	<div class="popups-overlay"></div>
	<div class="popup popup--thx" id="thx">
		<div class="popup__wrapper">
			<div class="popup__content popup__close-container popup__content--thx">
				<div class="popup__inner">
					<div class="popup-head">
						<div class="popup-head__title">
							Спасибо за&nbsp;заявку!
						</div>
						<div class="popup-head__subtitle">
							Наш менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время
						</div>
					</div>
					<div class="popup__thx-btn">
						<button class="ui-btn ui-btn--1" onclick="popupClose();">
							Закрыть
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--request" id="request">
		<div class="popup__wrapper">
			<div class="popup__content popup__close-container popup__content--request">
				<div class="popup__inner">
					<div class="popup-form">
						<div class="ui-form">
							<div class="ui-form__col ui-form__col--m">
								<div class="popup-head">
									<div class="popup-head__title">
										Заявка на&nbsp;логистические услуги
									</div>
								</div>
								<form class="popup-form__fields">
									<div class="popup-form__field">
										<label class="ui-input">
											<span class="ui-input__placeholder">Ваше имя*</span>
											<input type="text" />
										</label>
									</div>
									<div class="popup-form__field">
										<label class="ui-input">
											<span class="ui-input__placeholder">Телефон*</span>
											<input type="phone" />
										</label>
									</div>
									<div class="popup-form__field">
										<label class="ui-input">
											<span class="ui-input__placeholder">Объем*</span>
											<input type="text" />
										</label>
									</div>
									<div class="popup-form__field">
										<label class="ui-input">
											<span class="ui-input__placeholder">Срок хранения*</span>
											<input type="text" />
										</label>
									</div>
									<div class="popup-form__field">
										<div class="popup-form__btn">
											<button class="ui-btn ui-btn--h1 ui-btn--red" type="submit">
												<span class="ui-btn__text">
													заявка на&nbsp;расчет
												</span>
											</button>
										</div>
									</div>
								</form>
							</div>
							<div class="ui-form__col ui-form__col--t ui-thx">
								<div class="ui-thx__icon">
									<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use></svg>
								</div>
								<div class="ui-thx__ttl">
									Форма отправлена!
								</div>
								<div class="ui-thx__text ui-text">
									Спасибо за&nbsp;Ваш вопрос! Мы скоро свяжемся с&nbsp;вами.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>